.App {
  text-align: center;
}

.nps {
  margin-top: 25px;
  width: 300px;
  height: 350px
}

.npmarker {
  height: 30px;
  height: 35px;
}

.marker {
  text-align: center;
  font-size: 15px;
  color: black;
  font-weight: bold;
}

